---
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import SectionY from '../components/SectionY.astro';
import SectionS from '../components/SectionS.astro';
import Section3 from '../components/Section3.astro';
import SectionX from '../components/SectionX.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title = "Welcome yo Astro.">
	<LandingHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<SectionS />
		</div>
		<div class="snap-center">
			<Section3 />
		</div>
		<div class="snap-center">
			<SectionX />
		</div>
		<div class="snap-center">
			<SectionY />
		</div>


	</main>
</Layout>
