<section class="landing-section h-screen w-screen text-center relative overflow-hidden z-30" data-header-color="black">
			<div class="z-30 relative h-full flex flex-col">
				<header class="flex flex-col">
					<h2 class="text-black pt-40 text-[40px] font-medium z-30">Model Y</h2>
					<p class="text-black text-sm underline">Ver inventario</p>
				</header>
				
				
				<footer class="flex flex-col flex-grow flex-nowrap justify-end flex-col pb-20">
					<div class="flex gap-x-6 mx-auto">
						<a class="border-[3px] border-gray-600 bg-gray-600 text-white text-sm rounded font-medium px-12 py-2 inline-block hover:bg-gray-500 hover:border-gray-500 transition-colors duration-300" href="#">
							Ordenar ahora
						</a>
                        <a class="border-[3px] border-white bg-white text-sm rounded font-medium px-12 py-2 hover:bg-black hover:text-white hover:border-black transition-colors duration-300 inline-flex justify-center items-center" href="#">
							Demo Drive
						</a>
					</div>
				</footer>
			</div>
			
			<div class="absolute top-0 bottom-0 h-full w-full z-10">
				<img src="/public/model-Y.jpg" alt="Model Y" class="h-full w-full object-cover object-center" />
			</div>
			
		</section>